
<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>National Leagues 2016-2017</strong></h1>

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install missingno


# work with data in tabular representation
from datetime import time
import pandas as pd
# round the data in the correlation matrix
import numpy as np
import os


# Modules for data visualization
import seaborn as sns
import missingno as msno

# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: missingno in c:\users\thu\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: scipy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.7.1)
Requirement already satisfied: seaborn in c:\users\thu\anaconda3\lib\site-packages (from missingno) (0.11.2)
Requirement already satisfied: matplotlib in c:\users\thu\anaconda3\lib\site-packages (from missingno) (3.4.3)
Requirement already satisfied: numpy in c:\users\thu\anaconda3\lib\site-packages (from missingno) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\thu\anaconda3\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: six in c:\users\thu\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.16.0)
Requirement already satisfied: pandas>=0.23 in c:\users\thu\anaconda3\lib\site-packages (from seaborn->missingno) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.23->seaborn->missingno) (2021.3)

<a id="1.2"></a>
# Data Retrieving
***
In order to load data properly, the data in csv file have to be examined carefully. First of all, all the categories are seperated by the "," and strip the extra-whitespaces at the begin by setting "skipinitialspace = True".

In [11]:
# set the path of the external data from the third party source
external_data_path = os.path.join(os.path.pardir, '', '', 'data','external', 'National Leagues', 'Season 2016-2017')

# get each specfic file
english_premier_league_df = os.path.join(external_data_path, 'E0_English Premier League_2016-2017.csv')
efl_championship_df = os.path.join(external_data_path, 'E1_EFL Championship_2016-2017.csv')
efl_league_one_df = os.path.join(external_data_path, 'E2_EFL League One_2016-2017.csv')
efl_league_two_df = os.path.join(external_data_path, 'E3_EFL League Two_2016-2017.csv')

# import dataset
english_premier_league_df = pd.read_csv(english_premier_league_df, delimiter=',', skipinitialspace = True)
efl_championship_df = pd.read_csv(efl_championship_df, delimiter=',', skipinitialspace = True)
efl_league_one_df = pd.read_csv(efl_league_one_df, delimiter=',', skipinitialspace = True)
efl_league_two_df = pd.read_csv(efl_league_two_df, delimiter=',', skipinitialspace = True)

# print out the shape
print("The shape of the E0_English Premier League_2016-2017 dataframe is (row, column):", str(english_premier_league_df.shape))
print("The shape of the E1_EFL Championship_2016-2017 dataframe is (row, column):", str(efl_championship_df.shape))
print("The shape of the E2_EFL League One_2016-2017 dataframe is (row, column):", str(efl_league_one_df.shape))
print("The shape of the E3_EFL League Two_2016-2017 dataframe is (row, column):", str(efl_league_two_df.shape), "\n\n")

The shape of the E0_English Premier League_2016-2017 dataframe is (row, column): (380, 65)
The shape of the E1_EFL Championship_2016-2017 dataframe is (row, column): (552, 65)
The shape of the E2_EFL League One_2016-2017 dataframe is (row, column): (552, 65)
The shape of the E3_EFL League Two_2016-2017 dataframe is (row, column): (552, 65)

In [3]:
english_premier_league_df.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16

In [4]:
efl_championship_df.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,05/08/16,Fulham,Newcastle,1,0,H,1,0,H,...,1.91,32,0.25,2.21,2.14,1.76,1.72,4.39,3.42,2.00
1,E1,06/08/16,Birmingham,Cardiff,0,0,D,0,0,D,...,1.65,32,-0.25,2.06,1.98,1.94,1.84,2.53,3.26,3.14
2,E1,06/08/16,Blackburn,Norwich,1,4,A,0,3,A,...,1.62,32,0.25,1.95,1.88,2.00,1.94,3.64,3.33,2.25

In [5]:
efl_league_one_df.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,06/08/16,Bolton,Sheffield United,1,0,H,1,0,H,...,1.68,28,0.00,2.08,2.00,1.87,1.81,3.20,3.35,2.41
1,E2,06/08/16,Bradford,Port Vale,0,0,D,0,0,D,...,1.68,29,-0.75,1.97,1.91,1.96,1.91,1.78,3.59,5.45
2,E2,06/08/16,Bury,Charlton,2,0,H,0,0,D,...,1.74,29,0.25,1.80,1.74,2.20,2.11,2.73,3.41,2.73

In [6]:
efl_league_two_df.head(3)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E3,06/08/16,Accrington,Doncaster,3,2,H,2,1,H,...,1.79,28,0.0,1.93,1.88,2.03,1.94,2.57,3.19,3.11
1,E3,06/08/16,Blackpool,Exeter,2,0,H,1,0,H,...,1.76,28,-0.5,2.28,2.21,1.71,1.67,2.47,3.44,3.03
2,E3,06/08/16,Cambridge,Barnet,1,1,D,0,0,D,...,1.76,29,-0.5,1.83,1.79,2.13,2.03,1.77,3.88,4.93

<a id="1.3"></a>
# [Rename columns base on their abbreviations](http://www.football-data.co.uk/notes.txt)
***
Since these columns are not in SQL naming convention will be more straightforward in later process. We will also analyse the column meaning

In [7]:
print(f'The list of E0_English Premier League 2016 2017 columns\' names is: {english_premier_league_df.columns.to_list()}\n\n\n')

The list of E0_English Premier League 2016 2017 columns' names is: ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA']

In [8]:
rename_cols = ['league_division', 'match_date', 'home_team', 'away_team', 
                                     'full_time_home_team_goals', 'full_time_away_team_goals', 'full_time_result', 'half_time_home_team_goals', 
                                     'half_time_away_team_goals', 'half_time_result', 'referee', 'home_shots', 'away_shots', 
                                     'home_shots_on_target', 'away_shots_on_target', 'home_fouls_committed', 'away_fouls_committed', 
                                     'home_corners', 'away_corners', 'home_yellow_cards', 'away_yellow_cards', 'home_red_cards', 'away_red_cards', 
                                     'bet365_home_win_odds', 'bet365_draw_odds', 'bet365_away_win_odds', 
                                     'bet&win_home_win_odds', 'bet&win_draw_odds', 'bet&win_away_win_odds', 
                                     'interwetten_home_win_odds', 'interwetten_draw_odds', 'interwetten_away_win_odds', 
                                     'ladbrokes_home_win_odds', 'ladbrokes_draw_odds', 'ladbrokes_away_win_odds', 
                                     'pinnacle_home_win_odds', 'pinnacle_draw_odds', 'pinnacle_away_win_odds', 
                                     'william_hill_home_win_odds', 'william_hill_draw_odds', 'william_hill_away_win_odds', 
                                     'vc_bet_home_win_odds', 'vc_bet_draw_odds', 'vc_bet_away_win_odds', 
                                     'no_betbrain_bookmakers_calculated_odds_averages_maximums', 
                                     'betbrain_maximum_home_win_odds', 'betbrain_average_home_win_odds', 'betbrain_maximum_draw_odds', 
                                     'betbrain_average_draw_win_odds', 'betbrain_maximum_away_win_odds', 'betbrain_average_away_win_odds', 
                                     'no_betbrain_bookmakers_calculated_over/under_2.5_goals_averages_maximums', 
                                     'betbrain_maximum_over_2.5_goals', 'betbrain_average_over_2.5_goals', 'betbrain_maximum_under_2.5_goals', 
                                     'betbrain_average_under_2.5_goals', 'no_betbrain_bookmakers_asian_handicap_averages_maximums', 
                                     'betbrain_size_handicap_home', 'betbrain_maximum_asian_handicap_home_odds', 'betbrain_average_asian_handicap_home_odds', 
                                     'betbrain_maximum_asian_handicap_away_odds', 'betbrain_average_asian_handicap_away_odds', 
                                     'PSCH', 'pinnacle_closing_draw_odds', 'PSCA']

english_premier_league_df.columns = rename_cols
efl_championship_df.columns = rename_cols
efl_league_one_df.columns = rename_cols
efl_league_two_df.columns = rename_cols

In [9]:
print(f'The list of E0_English Premier League 2016 2017 columns\' names is: {english_premier_league_df.columns.to_list()}\n\n\n')

The list of E0_English Premier League 2016 2017 columns' names is: ['league_division', 'match_date', 'home_team', 'away_team', 'full_time_home_team_goals', 'full_time_away_team_goals', 'full_time_result', 'half_time_home_team_goals', 'half_time_away_team_goals', 'half_time_result', 'referee', 'home_shots', 'away_shots', 'home_shots_on_target', 'away_shots_on_target', 'home_fouls_committed', 'away_fouls_committed', 'home_corners', 'away_corners', 'home_yellow_cards', 'away_yellow_cards', 'home_red_cards', 'away_red_cards', 'bet365_home_win_odds', 'bet365_draw_odds', 'bet365_away_win_odds', 'bet&win_home_win_odds', 'bet&win_draw_odds', 'bet&win_away_win_odds', 'interwetten_home_win_odds', 'interwetten_draw_odds', 'interwetten_away_win_odds', 'ladbrokes_home_win_odds', 'ladbrokes_draw_odds', 'ladbrokes_away_win_odds', 'pinnacle_home_win_odds', 'pinnacle_draw_odds', 'pinnacle_away_win_odds', 'william_hill_home_win_odds', 'william_hill_draw_odds', 'william_hill_away_win_odds', 'vc_bet_home_win_odds', 'vc_bet_draw_odds', 'vc_bet_away_win_odds', 'no_betbrain_bookmakers_calculated_odds_averages_maximums', 'betbrain_maximum_home_win_odds', 'betbrain_average_home_win_odds', 'betbrain_maximum_draw_odds', 'betbrain_average_draw_win_odds', 'betbrain_maximum_away_win_odds', 'betbrain_average_away_win_odds', 'no_betbrain_bookmakers_calculated_over/under_2.5_goals_averages_maximums', 'betbrain_maximum_over_2.5_goals', 'betbrain_average_over_2.5_goals', 'betbrain_maximum_under_2.5_goals', 'betbrain_average_under_2.5_goals', 'no_betbrain_bookmakers_asian_handicap_averages_maximums', 'betbrain_size_handicap_home', 'betbrain_maximum_asian_handicap_home_odds', 'betbrain_average_asian_handicap_home_odds', 'betbrain_maximum_asian_handicap_away_odds', 'betbrain_average_asian_handicap_away_odds', 'PSCH', 'pinnacle_closing_draw_odds', 'PSCA']